---
layout: default
title: Welcome to Brainpaingames!
---

<div class="home"></div>
<h1>Welcome to Brainpaingames!</h1>

<p>Here, you'll find information on our projects. Please find below the latest version of our 4d VR app:</p>

<ul>
  <li><a href="/hypershack-0.2/">Hypershack 0.2</a> </li>
</ul>

Discussion at github:
<a href="https://github.com/brainpaingames/brainpaingames.github.io/discussions">Github discussions</a>



<p>If you enjoy our 4d apps and would like to contribute to our future developments (and get access to premium real estate in Hypersprawl), consider <a href="https://www.buymeacoffee.com/brainpaingames">buying us a coffee</a>.</p>

</div>

