---
layout: default
title: Welcome to Brainpaingames!
---

<div class="home"></div>
<h1>Welcome to Brainpaingames!</h1>

<p>Here, you'll find information on our projects. Please find below the direct access to the latest version of our 4d VR app:</p>

</br>

<ul>
  <li><a href="/hypershack-0.2/">Hypershack 0.2</a> </li>
</ul>

</br>

Discuss or create issues at github:
<p></p><a href="https://github.com/brainpaingames/brainpaingames.github.io/discussions">Github discussions</a></p>




<p>If you enjoy Hypershack and would like to contribute to our future developments, consider <a href="https://www.buymeacoffee.com/brainpaingames">buying us a coffee</a>.</p>

</div>

